*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Helvetica Neue, Arial;
  font-size: 16px;

}
.clearfix{
  content: "";
  display: table;
  //clear: both;
}
h1, h2{
  color: #00fb;
}
h1{
  font-size: 40px;
  margin-bottom: 20px;
}

h2{
  font-size: 25px;
  margin-bottom: 10px:
}
.main-text{
  text-align: justify;
  margin-bottom: 20px;
}
.author-text{
  font-size: 22px;
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}
.container{
  width: 1140px;
  margin: 20px auto 0 auto;
}
.blog-post{
  width: 70%;
  float: right;
}
.author-box{
    padding-top: 20px;
    border-top: 1px solid #808080;
    width: 25%;
}
.other{
  margin-bottom: 40px;
}

.author-box img{
  height:100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}
.blog-post img{
  height: 150px;
  width:auto;
  float: left;
}
.date{
  position: absolute;
  top: 30px;
  right: 80px;
}
